{% extends 'baseChat.html' %}
{% block content %}
<section class="content-header">
  <h1>
    Party
    <small>Sala da party</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="active">Chat</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- DIRECT CHAT -->
      <div class="box box-warning direct-chat direct-chat-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Chat</h3>

          <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow"></span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
              <i class="fa fa-comments"></i></button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div id="chat-body" class="box-body">
            <div id="msg-list-div" class="direct-chat-messages">
              <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                {% if obj.user == request.user %}
                <div class="direct-chat-msg left">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">{{ request.user.username }}</span>
                    <span class="direct-chat-timestamp pull-left">{{ obj.created }}</span>
                  </div>
                  <div class="direct-chat-text">
                    <li class="text-right list-group-item">{{ obj.message }}</li>
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                {% else %}
                <div class="direct-chat-msg left">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">{{ obj.user.username }}</span>
                    <span class="direct-chat-timestamp pull-right">{{ obj.created }}</span>
                  </div>
                  <div class="direct-chat-text">
                    <li class="text-left list-group-item">{{ obj.message }}</li>
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                {% endif %}
                {% empty %}
                <div class="direct-chat-msg left">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right"></span>
                    <span class="direct-chat-timestamp pull-left"></span>
                  </div>
                  <div class="direct-chat-text">
                    <li class="text-right list-group-item">Bem-vindo ao chat! </li>
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                {% endfor %}
                <script>
                var chatlist = document.getElementById('msg-list-div');
                chatlist.scrollTop = chatlist.scrollHeight;
                </script>
              </ul>
            </div>
          </div>
          <div class="box-footer">
            <form id="chat-form" method="post" action="/post/">
              <div id="chat-bottom" class="input-group">
                <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
                <span class="input-group-btn">
                  <input class="btn btn-warning btn-flat" id="send" type="submit" value="Send"/>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  {% endblock %}
