{% extends 'baseNav.html' %}
{% block content %}
<section class="content-header">
  <h1>
    Jogos
    <small>Party por jogos</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Games</li>
  </ol>
</section>
<section class="content">
  <div class="col-md-3">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Overwatch</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body no-padding">
            <a href="parties.html">
              <img class="col-md-12 no-padding" border="0" alt="Overwatch" src="static/dist/img/Overwatch-272x380.jpg">
            </a>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            Times disponíveis: 12
          </div>
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-3">
        <!-- Default box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Rainbow Six</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body no-padding">
                <a href="parties.html">
                  <img class="col-md-12 no-padding"border="0" alt="Rainbow Six" src="static/dist/img/Tom Clancy's Rainbow Six- Siege-272x380.jpg">
                </a>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                Times disponíveis: 12
              </div>
              <!-- /.box-footer-->
            </div>
            <!-- /.box -->
          </div>
        </section>
      </div>
{% endblock %}
