{% extends 'baseNav.html' %}
{% block content %}

<section class="content-header">
  <h1>
    Parties
    <small>Party por jogos</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Games</a></li>
    <li class="active">Parties</li>
  </ol>
</section>

<section class="content">
  <div class="roll">
    {% for n in party_info %}
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{n.party_img}}" alt="User profile picture">
          <p class="text-muted text-center">{{n.name}}</p>
          <h3 class="profile-username text-center">{{n.related_game.name}}</h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Descrição: </b> <a>{{n.description}}</a>
            </li>
            <!--               <li class="list-group-item">
            <b>Membros: </b>
            <ul class="users-list clearfix">
            <li><img class="admin-img" src="{{ user_pr.profile_img }}" alt="User Image"></li>
            {% for usr_nickname in Enter_party %}
            <li><img class="user-img" src= " {{Enter_party.objects.usr_nickname}}"  alt="User Image"></li>
            {% endfor %}
          </ul>
        </li>
      -->
    </ul>
    <a href="{% url 'PartyAssembler:enter_party' pk=n.pk %}" class="btn btn-primary btn-block"><b>Entrar na party</b></a>
  </div>
  <!-- /.box-body -->
</div>
</div>
{% endfor %}
</div>
</section>
</div>

{% endblock %}
